:root {

    /*colors*/
    --primary-color: #65818C;
    --black-coral: hsl(225, 8%, 42%);
    --gainsboro: hsl(0, 0%, 88%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    /**
     * typography
     */

    --ff-poppins: "Poppins", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;

    --fs-1: calc(20px + 3.5vw);
    --fs-2: calc(18px + 1.6vw);
    --fs-3: calc(16px + 0.45vw);
    --fs-4: 15px;
    --fs-5: 14px;
    --fs-6: 13px;
    --fs-7: 12px;
    --fs-8: 11px;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    /*transition*/

    --transition: 0.25s ease-in-out;

    /*spacing*/

    --section-padding: 60px;

    /**
     * border-radius
     */

    --radius-15: 15px;
    --radius-25: 25px;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon {
    display: block;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

ion-icon {
    pointer-events: none;
}

html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.container {
    margin-left: 20px;
}


.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: var(--primary-color);

}

.header-top {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;

}

.header-top img {
    width: 125px;
}

.forms {
    color: black;
    display: flex;
    flex-grow: 1;
}

.contenido {
    display: flex;
    max-width: 100%;
    flex-grow: 1;
    padding: 2rem;
}

.añadir_usuario { 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    padding: 0.5rem;
    font-weight: bold;
    max-height: 50px;
    margin-left: auto;
    background-color: var(--primary-color);
    color: white;
    transition: transform 0.3s;
}

.añadir_usuario:hover {
    transform: scale(1.1);
    background-color: #4f646d;
}

.datos_agentes {
    display: flex;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    max-width: 45%;
    max-height: 30%;
}

.datos_agentes p {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
}

.icono_agente{
    display: inline-block;
}