:root {

    /*colors*/
    --primary-color: #65818C;
    --black-coral: hsl(225, 8%, 42%);
    --gainsboro: hsl(0, 0%, 88%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    /**
     * typography
     */

    --ff-poppins: "Poppins", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;

    --fs-1: calc(20px + 3.5vw);
    --fs-2: calc(18px + 1.6vw);
    --fs-3: calc(16px + 0.45vw);
    --fs-4: 15px;
    --fs-5: 14px;
    --fs-6: 13px;
    --fs-7: 12px;
    --fs-8: 11px;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    /*transition*/

    --transition: 0.25s ease-in-out;

    /*spacing*/

    --section-padding: 60px;

    /**
     * border-radius
     */

    --radius-15: 15px;
    --radius-25: 25px;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon {
    display: block;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

ion-icon {
    pointer-events: none;
}

html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.container {
    margin-left: 20px;
}


.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: var(--primary-color);

}

.header-top {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;

}

.header-top img {
    width: 125px;
}

.forms {
    color: black;
    display: flex;
    flex-grow: 1;
}

.contenido {
    display: flex;
    max-width: 100%;
    flex-grow: 1;
    padding: 2rem;
    gap: 80px;
    flex-direction: row;
}

.añadir_usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    padding: 0.5rem;
    font-weight: bold;
    max-height: 50px;
    margin-left: auto;
    background-color: var(--primary-color);
    color: white;
    transition: transform 0.1s;
}

.añadir_usuario:hover {
    transform: scale(1.1);
    background-color: #4f646d;
}

.datos_agentes {
    display: flex;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    max-width: 100%;
    max-height: 100%;
    font-size: 20px;
    word-break: break-word;
    
}

.informacion {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.icono_agente {
    display: flex;
    padding: 20px;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 5% auto;
    padding: 20px;
    border: none;
    width: 50%;
    height: 81%;
}

.modal-content h2 {
    font-size: 50px;
    text-align: center;
}

.modal-content label {
    font-size: 20px;
    padding: 20px;
}

.modal-content input {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 4px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.modal-content input {
    width: 95%;
    padding: 10px;
    margin: 10px 20px;
    border: 2px solid #ddd; 
    border-radius: 6px;
    box-sizing: border-box; 
    font-size: 16px;
}


.modal-content input:focus {
    border-color: var(--primary-color); 
    outline: none;
}

.modal-content button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.modal-content button {
    margin-top: 20px;
}