body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #007bff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.order-details, .checkout-form {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.package {
    display: flex;
    align-items: center;
}

.package img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.package-details h3 {
    margin: 0;
}

.checkout-form form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
textarea {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
