:root {

    /*colors*/
    --primary-color: #65818C;
    --black-coral: hsl(225, 8%, 42%);
    --gainsboro: hsl(0, 0%, 88%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    /**
     * typography
     */

    --ff-poppins: "Poppins", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;

    --fs-1: calc(20px + 3.5vw);
    --fs-2: calc(18px + 1.6vw);
    --fs-3: calc(16px + 0.45vw);
    --fs-4: 15px;
    --fs-5: 14px;
    --fs-6: 13px;
    --fs-7: 12px;
    --fs-8: 11px;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    /*transition*/

    --transition: 0.25s ease-in-out;

    /*spacing*/

    --section-padding: 60px;

    /**
     * border-radius
     */

    --radius-15: 15px;
    --radius-25: 25px;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon {
    display: block;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

ion-icon {
    pointer-events: none;
}

html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.container {
    margin-left: 20px;
}


.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: var(--primary-color);

}

.header-top {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;

}

.header-top img {
    width: 125px;
}

.forms {
    color: black;
    display: flex;
    flex-grow: 1;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.content-table thead tr {
    background-color: #046854;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 8px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 850px;
}

.content-table tbody tr {
    border-bottom: 1px solid gray;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #e2e2e2;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #046854;
}

.contenido {
    margin-left: 70px;
}